* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: black;
  background-color: #EAEBF3;
}

/* Export */
.export-btn {
  font-size: 20px;
  margin-top: 10px;
  padding: 5px;
  cursor: pointer;
  margin-left: 10px;
}

/* Table */
table {
  margin-left: 10px;
  margin-top: 10px;
  border-collapse: collapse;
  border: 1px solid black;
}

td {
  font-size: 30px;
  text-align: center;
  padding: 5px;
  border: 1px solid black;
}
